<!-- OVERVIEW -->
<div class="panel panel-headline">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to Banana Music Application Admin Page</h3>
    <p class="panel-subtitle">Copyright 2019</p>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <div class="metric">
          <span class="icon"><i class="fa fa-user-plus"></i></span>
          <p>
            <span class="number">203</span>
            <span class="title">Artist</span>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="metric">
          <span class="icon"><i class="fa fa-music"></i></span>
          <p>
            <span class="number">1,234</span>
            <span class="title">Tracks</span>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="metric">
          <span class="icon"><i class="fa fa-user"></i></span>
          <p>
            <span class="number">540</span>
            <span class="title">User</span>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="metric">
          <span class="icon"><i class="fa fa-play"></i></span>
          <p>
            <span class="number">3,399</span>
            <span class="title">Playlist</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END OVERVIEW -->
