<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Album list</h3>
  </div>
  <div class="panel-body">
    <div class="float-right">
      <a routerLink="/newalbum" type="button" class="btn btn-success" title="Add"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Release Date</th>
          <th>Category</th>
          <th>Track number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of service.list">
          <td>{{album.albumId}}</td>
          <td>{{album.albumName}}</td>
          <td>{{album.releaseDate}}</td>
          <td>{{album.category.categoryName}}</td>
          <td>{{album.trackList.length}}</td>
          <td><a class="btn btn-xs btn-warning" routerLink="/editalbum/{{album.albumId}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <button class="btn btn-xs btn-danger" type="button" title="delete" (click)="onDelete(album.albumId, album.trackList.length)">
            <span class="glyphicon glyphicon-remove"></span>
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
