<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Category list</h3>
  </div>
  <div class="panel-body">
    <div class="float-right">
      <button type="button" class="btn btn-success btn-toastr" data-toggle="modal" title="Add" data-target="#addModal"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Details</th>
          <th>Image_path</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cate of service.list">
          <td>{{cate.categoryId}}</td>
          <td>{{cate.categoryName}}</td>
          <td>{{cate.detail}}</td>
          <td>{{cate.image_path}}</td>
          <td><button type="button" class="btn btn-xs btn-warning" title="edit" data-toggle="modal" data-target="#myModal"  (click)="populateForm(cate)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-xs btn-danger" type="button" (click)="onDelete(cate.categoryId)" title="delete">
            <span class="glyphicon glyphicon-remove"></span>
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form #form="ngForm" id="updateForm" (submit)="onSubmit($event)" autocomplete="off">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Category</h4>
          </div>
          <div class="modal-body">
            
              <label for="name">Name: <span class="required">*</span></label>
              <input type="text" id="nameUpdate" required [(ngModel)]="updateCate.categoryName" name="name" class="form-control"
                #name="ngModel">
              <label for="name">Detail: <span class="required">*</span></label>
              <input type="text" id="nameDetail" required [(ngModel)]="updateCate.detail" name="detail" class="form-control"
                #detail="ngModel">
              <label for="name">image: <span class="required">*</span></label>
              <input type="file" id="nameImage" required accept="image/*" (change)="selectFile($event)">
            
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit">Edit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" #btnClose>Close</button>
          </div>
        </form>
    </div>

  </div>
</div>

<div id="addModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form #form="ngForm" id="addForm" (submit)="onSubmit($event)" autocomplete="off">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Category</h4>
        </div>
        <div class="modal-body">
          
            <label for="name">Name: <span class="required">*</span></label>
            <input type="text" id="name" required [(ngModel)]="newCate.categoryName" name="name" class="form-control"
              #name="ngModel">
            <label for="name">Detail: <span class="required">*</span></label>
            <input type="text" id="detail" required [(ngModel)]="newCate.detail" name="detail" class="form-control"
              #detail="ngModel">
            <label for="name">image: <span class="required">*</span></label>
            <input type="file" id="image" required name="image" accept="image/*" (change)="selectFile($event)">
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="submit">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" #btnClose>Close</button>
        </div>
      </form>
    </div>

  </div>
</div>
