<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Category list</h3>
  </div>
  <div class="panel-body">
    <label for="name">Name: <span class="required">*</span></label>
    <input type="text" id="name" required [(ngModel)]="newAlbum.albumName" name="name" class="form-control"
      #name="ngModel">
    <label for="name">Release Date: <span class="required">*</span></label>
    <input type="text" id="releaseDate" required [(ngModel)]="newAlbum.releaseDate" name="releaseDate" class="form-control"
      #detail="ngModel">
    <label for="name">Category: <span class="required">*</span></label>
    <select [(ngModel)]="newAlbum.category.categoryId" class="form-control">
      <option value="0">-----Choose-------</option>
      <option *ngFor="let c of categoryService.list" value="{{c.categoryId}}">{{c.categoryName}}</option>
    </select>
    <label for="name">image: <span class="required">*</span></label>
    <input type="file" id="image" required name="image" accept="image/*" (change)="selectFile($event)">
    <label for="name">New Track: <span class="required">*</span></label>
    <table *ngIf="newAlbum.trackList && newAlbum.trackList.length > 0" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Path</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of newAlbum.trackList;let i = index">
          <td>{{track.trackName}}</td>
          <td>{{track.description}}</td>
          <td>{{track.audioPath}}</td>
          <td><button class="btn btn-xs btn-danger" type="button" title="delete" (click)=deleteTrack(i)>
              <span class="glyphicon glyphicon-remove"></span>
            </button></td>
        </tr>
      </tbody>
    </table>
    <br/>
    <button type="button" class="btn btn-success" title="Add" (click)=saveAlbum()>Save album</button>
  </div>
  <br/>
    <div class="row panel-body">
      <h3>Track in album</h3>
      <div class="col-md-4">
        <label for="name">Name track: <span class="required">*</span></label>
        <input type="text" id="nameTrack" required [(ngModel)]="track.trackName" name="nameTrack" class="form-control"
          #nameTrack="ngModel">
      </div>
      <div class="col-md-4">
          <label for="name">Description track: <span class="required">*</span></label>
          <input type="text" id="descriptionTrack" required [(ngModel)]="track.description" name="descriptionTrack" class="form-control"
            #descriptionTrack="ngModel">
      </div>
      <div class="col-md-3">
          <label for="name">image: <span class="required">*</span></label>
          <input type="file" id="imageTrack" required name="imageTrack" accept="image/*" (change)="selectFileTrack($event)">
      </div>
      <div class="col-md-1">
          <br/>
          <button type="button" class="btn btn-success" title="Add" (click)=addTrack()>Add</button>
      </div>
    </div>
</div>
